.posted-tweet {
  background: #E69B03;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

.tweet-header {
  background: #DBCEA7;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0.6;
}
.posted-tweet .userlogo {
  float: left;
  padding: 5px;
  border-radius: 15px;
}

.posted-tweet .user {
  float: left;
  margin-top: 10px;
}

.posted-tweet .userid {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.tweet-content-box {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
  width: auto;
  padding-top: 25px;
}

.tweet-content {
  word-wrap: break-word;
}

.tweet-footer {
  padding-left: 10px;
  border-top: 2px solid #eee;;
}

.tweet-footer #like {
  float: right;
  display: none;
  margin-right: 10px;
}


.tweet-footer #retweet {
  float: right;
  display: none;
  margin-right: 10px;
}


.tweet-footer #flag {
  float: right;
  display: none;
  margin-right: 10px;
}

.posted-tweet:hover .tweet-header {opacity: 1;}
.posted-tweet:hover .tweet-footer #flag {display: block;}
.posted-tweet:hover .tweet-footer #retweet {display: block;}
.posted-tweet:hover .tweet-footer #like {display: block;}

.posted-tweet-container {
  background: #CFCFCF;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 15px;
}